@font-face {
    font-family: 'MontSerrat';
    src: url(../assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body{
    margin: 0;
    font-family: 'MontSerrat', sans-serif;
    font-weight: normal;
}
header{
    height: 5vh;
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    color: white;
}
.btn{
    border-radius: 5px;
    background: rgb(0,225,115);
}

.input1{
    border-radius: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

.img1 {
    position: absolute;
    top: 1px;
    left: 0;
    height: 45px;
    opacity: 160%;
    filter: brightness(200%);
    clip: rect(auto, auto, 35px, auto);
}
.contain{
    overflow: hidden;
}


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: flex-start;
}
.menu ul {
    display: flex;
    list-style-type: none;
}
.ul1>li::marker{
    color: purple;
}
.menu li{
    padding: 1vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.menu li a{
    text-decoration: none;
    color: black;
}
h1{
    display: flex;
    justify-content: center;
    font-weight:initial;
}
.ul1{
    margin-left: 5%;
    margin-right: 7%;
    margin-bottom: 8%;
}
.ul1 li{
    margin-bottom: 3%;
}
.pg1, .pg2{
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    height: 25vh;
}
.foot2, .foot1{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(56,56,56);
    height: 100%;
    color: white;
    gap: 8%;
}
.img2{
    height: 30%;
    display: flex;
    align-items: center;
    width: 8%;
}
.foot1>div{
    margin-top: 3%;
}
.titre2{
    margin-bottom: 3%;
}
.bug{
    margin-bottom: 4%;
}
.imgf{
    filter: brightness(200%) invert(1);
    height: 20%;
}
.fcbk, .twt, .inst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: -40px;
}
.menu > ul > li:nth-child(2) a {
    position: relative; /* Ajout important */
    display: inline-block; /* Pour que la largeur soit celle du texte */
}

.menu > ul > li:nth-child(2) a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%; 
    height: 2.5px;
    background-color: black;
}

